<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta name="description" content="ROI Labs">
    <meta name="author" content="Jeff Davis">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">ROI Training Google Cloud Demos</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Misc.</h4>
              <ul class="list-unstyled">
                <li class='text-secondary'>Logged in as {{ user_email }}</li>
                <li><a href="{{ logout_url }}" class="text-white">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="/static/images/logo.png" height="32" style="margin-right:9px"><strong>ROI Training</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <footer class="text-muted">
      <div class="container">
        <hr>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          &copy; ROI Training, Inc. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js""></script>
  </body>
</html>
