{% extends 'master.html' %}
{% block head %}
<link href="/static/css/roi-admin.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/qrcode.min.js"></script>
<title>Event Details</title>
{% endblock %}

{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">
                <a href="{{event.fields['Checkin Bitlink']}}" target="_blank">
                    {% for char in event.fields['Checkin Bitlink'] %}{% if char.isdigit() %}<span style="color:#52a5ff;">{{ char }}</span>{% else %}{{ char }}{% endif %}{% endfor %}
                </a>
            </h1>
            <p class="lead text-muted">{{event.fields['Course Title']}} (starting {{event.fields['Start Date']}})</p>
            <div id="checkin_qrcode"></div>
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </section>
        <div role="main" class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <div class="alert alert-primary" role="alert">
                        <p class="mb-0 text-center">Completed checkins - {{ checkins|length }}</p>
                        <hr>
                        {% if checkins|length == 0 %}
                            <p class="h4">&nbsp;</p>
                        {% endif %}
                        {% for checkin in checkins %}
                            {{ checkin['fields']['name'] }}<br>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="alert alert-primary" role="alert">
                        <p class="mb-0 text-center" >Feedback survey</p>
                        <hr>
                        {% if not 'Eval Bitlink' in event.fields %}
                            <p class="h4">&nbsp;</p>
                        {% endif %}
                        <p class="h4">
                            <a href="{{event.fields['Eval Bitlink']}}" target="_blank">
                                {% for char in event.fields['Eval Bitlink'] %}{% if char.isdigit() %}<span style="color:#52a5ff;">{{ char }}</span>{% else %}{{ char }}{% endif %}{% endfor %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

</main>

<script type="text/javascript">
    new QRCode(document.getElementById("checkin_qrcode"), { "text": "{{event.fields['Checkin Bitlink']}}", width: 128, height: 128 });
    if($("#eval_qrcode").length){
       new QRCode(document.getElementById("eval_qrcode"), { "text": "{{event.fields['Eval Bitlink']}}", width: 128, height: 128 });
    }

    $(function () {
        console.log($('img[src^="data:image"]'));
        $('img[src^="data:image"]').css("margin", "auto");
    });
</script>

{% endblock %}
{% block footer %}
{% endblock %}
